@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,200;0,400;0,700;1,200&display=swap');

body {
  font-family: 'Fira Sans', 'Segoe UI', sans-serif;
  font-size: 18px;
}
.App {
  background-color: #c7cedb;
  min-height: 100vh;
}
h2,h3 {
  font-weight: bold;
}
section {
  display: flex;
  flex-direction: column;
  height: 87vh;
  justify-content: center;
}
section h2 {
  font-size: 1.4em;
  margin-bottom: 1em;
}

section div.wrapper {
  width: 70%;
  margin: 20px auto;
}
form {
  display: flex;
  flex-direction: column;
}
form .formitem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
form .formitem .error-msg {
  color: #FF0000;
  font-size: .7em;
}
input[type=text], label, input[type=password] {
  padding: 0.3em;
  margin: 0.3em 0.4em;
}
input[type=submit] {
  font-size: 0.9em;
  padding: 0.3em 0.5em;
  background-color: rgb(92, 209, 255);
  border: 0px;
  border-radius: 0.3em;
  margin: 1em 0;
}
input[type=text], input[type=password] {
  background: linear-gradient(#FFFFFF, #F0F0F0);
  border: 1px solid #6e8aad;
  border-radius: 3px;
  box-shadow: inset 0 2px 3px #00000033;
}